
.head {
    padding: 0;
    color: #000;
}

.logo h1 {
    font-size: 35px;
    font-weight: 900;
}

.head .icon{
    margin-left: 10px;
}

/*------header styling--------- */

header {
    background-color: rgba(255, 255, 255);
}






















